*{
  margin: 0px;
  padding: 0px;
}

.whole{
  height: 99vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column-reverse;
}
.bar{
  height: 7vh;
  background: white;
  margin: 20px;
  display: flex;
  border-radius: 20px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
}
button{
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.red{
  background: red;
}
.red:hover{
  background: rgb(230, 28, 28);
}